NodeRed/Tradfri Remote for Deconz
[{"id":"ababdc24.0bd49","type":"tab","label":"Tradfri Remote Test","disabled":false,"info":""},{"id":"8201e56d.a5b178","type":"server-events","z":"ababdc24.0bd49","name":"","server":"6e5137f5.b5e148","event_type":"deconz_event","x":120,"y":240,"wires":[["e671acef.f5603"]]},{"id":"f321aa06.726b08","type":"switch","z":"ababdc24.0bd49","name":"What remote?","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"tradfri_remote_control","vt":"str"},{"t":"eq","v":"koktakljusfjarr","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":240,"wires":[["5bacf26e.469d5c"],["ed1e3ab3.fd5ba8"]]},{"id":"d39dd940.43fce8","type":"switch","z":"ababdc24.0bd49","name":"Trådfri Remote","property":"Q.event","propertyType":"msg","rules":[{"t":"eq","v":"1002","vt":"str"},{"t":"eq","v":"1001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2003","vt":"str"},{"t":"eq","v":"3002","vt":"str"},{"t":"eq","v":"3001","vt":"str"},{"t":"eq","v":"3003","vt":"str"},{"t":"eq","v":"4002","vt":"str"},{"t":"eq","v":"4001","vt":"str"},{"t":"eq","v":"4003","vt":"str"},{"t":"eq","v":"5002","vt":"str"},{"t":"eq","v":"5001","vt":"str"},{"t":"eq","v":"5003","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":2080,"y":260,"wires":[["e962c5cf.94e908"],["a67bf259.bbffb"],["3b6b2656.3e351a"],["fa110d30.ff343","ebe89084.352eb"],["63c5356c.9f730c"],["f44ea1fe.9e48c"],["fa110d30.ff343","aab8c783.1379a8"],["63c5356c.9f730c"],["61bcf529.a85fec"],["fa110d30.ff343","18b3b0c1.d4bdbf"],["63c5356c.9f730c"],["37469638.1cec2a"],["fa110d30.ff343","2da010f.e51dbf"],["63c5356c.9f730c"]],"outputLabels":["Middle tap","Middle hold after tap (no release action)","Up tap","Up hold","Up release","Down tap","Down hold","Down release","Left tap","Left hold","Left release","Right tap","Right hold","Right release"]},{"id":"5bacf26e.469d5c","type":"change","z":"ababdc24.0bd49","name":"group.biorum","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"group.biorum","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":200,"wires":[["1a131e17.4d4df2"]]},{"id":"8b7dab9f.daa938","type":"api-call-service","z":"ababdc24.0bd49","name":"Light Service","server":"6e5137f5.b5e148","version":1,"service_domain":"light","service":"{{payload.service}}","entityId":"{{payload.entity_id}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":3310,"y":320,"wires":[[]]},{"id":"8613448e.8ab1b8","type":"function","z":"ababdc24.0bd49","name":"Change Brightness","func":"if (!msg.Q.SUPPORT_BRIGHTNESS)\n{\n    return null;\n}\n\nvar brightness = 255; //Initialize as full brightness\n\n//Check if gradualy changing brightness right now.\nvar btnHolding = flow.get(msg.Q.trigger+\"_holding\");\nif ( typeof btnHolding !== 'undefined' && btnHolding === true)\n{\n    brightness = flow.get(msg.Q.trigger+\"_brightness\");\n}\nelse \n{\n    if ( typeof msg.data.attributes.brightness !== 'undefined' )\n    {\n        brightness = msg.data.attributes.brightness;\n    }\n}\nbrightness = brightness + msg.Q.changeBrightness;\n\nif(brightness > 255){\n    brightness = 255;\n}\nif(brightness < 5){\n    brightness = 5;\n}\n\nmsg.payload = {\n    service:\"turn_on\",\n    \"entity_id\":msg.Q.grpname,\n    data: {\n        \"brightness\":brightness\n    }\n};\n\nif (btnHolding)\n{\n    flow.set(msg.Q.trigger+\"_brightness\", brightness);\n    \n    if (brightness == 255 || brightness <= 5)\n    {\n        flow.set(msg.Q.trigger+\"_holding\", false);\n    }\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2870,"y":100,"wires":[["8b7dab9f.daa938"]]},{"id":"fa110d30.ff343","type":"function","z":"ababdc24.0bd49","name":"Holding Button","func":"flow.set(msg.Q.trigger+\"_holding\",true);\nreturn msg;\n","outputs":1,"noerr":0,"x":2520,"y":360,"wires":[[]]},{"id":"63c5356c.9f730c","type":"function","z":"ababdc24.0bd49","name":"Releasing Button","func":"flow.set(msg.Q.trigger+\"_holding\",false);\nreturn msg;\n","outputs":1,"noerr":0,"x":2530,"y":400,"wires":[[]]},{"id":"1e610473.96d9cc","type":"delay","z":"ababdc24.0bd49","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2730,"y":220,"wires":[["ab47aa28.1b62c8"]]},{"id":"ab47aa28.1b62c8","type":"function","z":"ababdc24.0bd49","name":"Still Holding button?","func":"var current_holding = flow.get(msg.Q.trigger+\"_holding\");\n\nif(current_holding === true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2920,"y":220,"wires":[["b989d148.7899f"]]},{"id":"d3cd6636.888dd8","type":"delay","z":"ababdc24.0bd49","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2730,"y":280,"wires":[["807855eb.0682b8"]]},{"id":"1a131e17.4d4df2","type":"api-current-state","z":"ababdc24.0bd49","name":"Get Group state","server":"6e5137f5.b5e148","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"","state_type":"str","state_location":"","override_payload":"none","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":960,"y":260,"wires":[["5be97c00.236724"]]},{"id":"1c0c1f37.04e3f1","type":"function","z":"ababdc24.0bd49","name":"Get Light supported_features","func":"//Initiate values\nmsg.Q.SUPPORT_COLOR_TEMP = false;\nmsg.Q.SUPPORT_RGB_COLOR=false;\nmsg.Q.SUPPORT_BRIGHTNESS=false;\n\nvar supported_features = msg.data.attributes.supported_features;\n\nif ( typeof supported_features !== 'number')\n{    \n    node.error(\"supported_features is not number\", msg);\n    return;\n}\n\n// Bitfield of features supported by the light entity\nvar SUPPORT_BRIGHTNESS = 1\nvar SUPPORT_COLOR_TEMP = 2\nvar SUPPORT_EFFECT = 4\nvar SUPPORT_FLASH = 8\nvar SUPPORT_RGB_COLOR = 16\nvar SUPPORT_TRANSITION = 32\nvar SUPPORT_XY_COLOR = 64\nvar SUPPORT_WHITE_VALUE = 128\n\n\n\nif (supported_features - SUPPORT_WHITE_VALUE >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_WHITE_VALUE;\n}\n\nif (supported_features - SUPPORT_XY_COLOR >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_XY_COLOR;\n}\n\nif (supported_features - SUPPORT_TRANSITION >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_TRANSITION;\n}\n\nif (supported_features - SUPPORT_RGB_COLOR >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_RGB_COLOR;\n    msg.Q.SUPPORT_RGB_COLOR=true;\n}\n\nif (supported_features - SUPPORT_FLASH >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_FLASH;\n}\n\nif (supported_features - SUPPORT_EFFECT >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_EFFECT;\n}\n\nif (supported_features - SUPPORT_COLOR_TEMP >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_COLOR_TEMP;\n    msg.Q.SUPPORT_COLOR_TEMP = true;\n}\n\nif (supported_features - SUPPORT_BRIGHTNESS >= 0)\n{\n    // Supports.\n    supported_features -= SUPPORT_BRIGHTNESS;\n    msg.Q.SUPPORT_BRIGHTNESS=true;\n}\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1680,"y":260,"wires":[["194d3596.fff0aa"]],"info":"# Bitfield of features supported by the light entity\r\nATTR_SUPPORTED_FEATURES = 'supported_features'\r\nSUPPORT_BRIGHTNESS = 1\r\nSUPPORT_COLOR_TEMP = 2\r\nSUPPORT_EFFECT = 4\r\nSUPPORT_FLASH = 8\r\nSUPPORT_RGB_COLOR = 16\r\nSUPPORT_TRANSITION = 32\r\nSUPPORT_XY_COLOR = 64\r\nSUPPORT_WHITE_VALUE = 128"},{"id":"5be97c00.236724","type":"change","z":"ababdc24.0bd49","name":"Save GrpName and get first member","rules":[{"t":"set","p":"Q.grpname","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"move","p":"data.attributes.entity_id[0]","pt":"msg","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":260,"wires":[["cb59edf.656971"]]},{"id":"cb59edf.656971","type":"api-current-state","z":"ababdc24.0bd49","name":"Get Light state","server":"6e5137f5.b5e148","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1460,"y":260,"wires":[["1c0c1f37.04e3f1"]]},{"id":"194d3596.fff0aa","type":"change","z":"ababdc24.0bd49","name":"","rules":[{"t":"set","p":"Q.min_mireds","pt":"msg","to":"data.attributes.min_mireds","tot":"msg"},{"t":"set","p":"Q.max_mireds","pt":"msg","to":"data.attributes.max_mireds","tot":"msg"},{"t":"set","p":"Q.color_temp","pt":"msg","to":"data.attributes.color_temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":260,"wires":[["d39dd940.43fce8"]]},{"id":"e671acef.f5603","type":"change","z":"ababdc24.0bd49","name":"Move Event","rules":[{"t":"set","p":"Q.event","pt":"msg","to":"payload.event.event","tot":"msg"},{"t":"set","p":"Q.trigger","pt":"msg","to":"payload.event.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":240,"wires":[["f321aa06.726b08"]]},{"id":"e962c5cf.94e908","type":"switch","z":"ababdc24.0bd49","name":"Check state","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"on","vt":"str","case":true},{"t":"regex","v":"off","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":40,"wires":[["694d5d3b.255ed4"],["e47be238.55c0d"]]},{"id":"694d5d3b.255ed4","type":"change","z":"ababdc24.0bd49","name":"Turn Off","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.service","pt":"msg","to":"turn_off","tot":"str"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"Q.grpname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2860,"y":20,"wires":[["8b7dab9f.daa938"]]},{"id":"e47be238.55c0d","type":"change","z":"ababdc24.0bd49","name":"Turn On","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.service","pt":"msg","to":"turn_on","tot":"str"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"Q.grpname","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2860,"y":60,"wires":[["8b7dab9f.daa938"]]},{"id":"f44ea1fe.9e48c","type":"change","z":"ababdc24.0bd49","name":"Brightness -50","rules":[{"t":"set","p":"Q.changeBrightness","pt":"msg","to":"-50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":120,"wires":[["8613448e.8ab1b8"]]},{"id":"3b6b2656.3e351a","type":"change","z":"ababdc24.0bd49","name":"Brightness +50","rules":[{"t":"set","p":"Q.changeBrightness","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2440,"y":80,"wires":[["8613448e.8ab1b8"]]},{"id":"b989d148.7899f","type":"change","z":"ababdc24.0bd49","name":"Brightness +25","rules":[{"t":"set","p":"Q.changeBrightness","pt":"msg","to":"25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2560,"y":220,"wires":[["8613448e.8ab1b8","1e610473.96d9cc"]]},{"id":"ebe89084.352eb","type":"function","z":"ababdc24.0bd49","name":"Init brightness","func":"var brightness = 255;\n\nif ( typeof msg.data.attributes.brightness !== 'undefined' )\n{\n    brightness = msg.data.attributes.brightness;\n}\n\nflow.set(msg.Q.trigger+\"_brightness\", brightness);\n\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":220,"wires":[["b989d148.7899f"]]},{"id":"807855eb.0682b8","type":"function","z":"ababdc24.0bd49","name":"Still Holding button?","func":"var current_holding = flow.get(msg.Q.trigger+\"_holding\");\n\nif(current_holding === true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2920,"y":280,"wires":[["c3b173d3.20387"]]},{"id":"aab8c783.1379a8","type":"function","z":"ababdc24.0bd49","name":"Init brightness","func":"var brightness = 255;\n\nif ( typeof msg.data.attributes.brightness !== 'undefined' )\n{\n    brightness = msg.data.attributes.brightness;\n}\n\nflow.set(msg.Q.trigger+\"_brightness\", brightness);\n\nreturn msg;","outputs":1,"noerr":0,"x":2380,"y":280,"wires":[["c3b173d3.20387"]]},{"id":"c3b173d3.20387","type":"change","z":"ababdc24.0bd49","name":"Brightness -25","rules":[{"t":"set","p":"Q.changeBrightness","pt":"msg","to":"-25","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2560,"y":280,"wires":[["d3cd6636.888dd8","8613448e.8ab1b8"]]},{"id":"ed1e3ab3.fd5ba8","type":"change","z":"ababdc24.0bd49","name":"group.koktakljus","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"group.koktakljus","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["1a131e17.4d4df2"]]},{"id":"6ddd3bd0.3445c4","type":"function","z":"ababdc24.0bd49","name":"Change ColorTemp","func":"if (!msg.Q.SUPPORT_COLOR_TEMP)\n{\n    return null;\n}\n\nvar colortemp = 400; //Initialize as full brightness\n// Get ColorTemp from flow in case the current light's attribute is missing (bug in HA 97 or Deconz 65 with Tådfri)\nvar flowcolortemp = flow.get(msg.Q.trigger+\"_colortemp\");\nif ( typeof flowcolortemp !== 'number')\n{\n    flowcolortemp = colortemp;\n}\n\n//Check if gradualy changing brightness right now.\nvar btnHolding = flow.get(msg.Q.trigger+\"_holding\");\nif ( typeof btnHolding !== 'undefined' && btnHolding === true)\n{\n    colortemp = flowcolortemp;\n}\nelse \n{\n    if ( typeof msg.data.attributes.color_temp !== 'undefined' )\n    {\n        colortemp = msg.data.attributes.color_temp;\n    }\n    else\n    {\n        colortemp = flowcolortemp;\n    }\n}\n\n// If at highest or lowest already, switch to other end.\nif(colortemp >= msg.data.attributes.max_mireds && msg.Q.changeColortemp > 0 ){\n    colortemp = msg.data.attributes.min_mireds;\n}\nelse \n{\n    if(colortemp <= msg.data.attributes.min_mireds && msg.Q.changeColortemp < 0 ){\n        colortemp = msg.data.attributes.max_mireds;\n    }\n    else  // If not on highest or lowest\n    {\n        colortemp = colortemp + msg.Q.changeColortemp;\n        \n        if(colortemp > msg.data.attributes.max_mireds){\n            colortemp = msg.data.attributes.max_mireds;\n        }\n        if(colortemp < msg.data.attributes.min_mireds){\n            colortemp = msg.data.attributes.min_mireds;\n        }\n    }\n}\n\nmsg.payload = {\n    service:\"turn_on\",\n    \"entity_id\":msg.Q.grpname,\n    data: {\n        \"color_temp\":colortemp\n    }\n};\n\nflow.set(msg.Q.trigger+\"_colortemp\", colortemp);\n\nif ( btnHolding && (\n        ( colortemp >= msg.data.attributes.max_mireds && msg.Q.changeColortemp > 0 ) || \n        ( colortemp <= msg.data.attributes.min_mireds && msg.Q.changeColortemp < 0 ) )\n    )\n{\n    flow.set(msg.Q.trigger+\"_holding\", false);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2770,"y":560,"wires":[["8b7dab9f.daa938"]]},{"id":"a67bf259.bbffb","type":"change","z":"ababdc24.0bd49","name":"Reset","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.service","pt":"msg","to":"turn_on","tot":"str"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"Q.grpname","tot":"msg"},{"t":"set","p":"payload.data.color_temp","pt":"msg","to":"400","tot":"str"},{"t":"set","p":"payload.data.brightness","pt":"msg","to":"255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2910,"y":140,"wires":[["8b7dab9f.daa938"]]},{"id":"2da010f.e51dbf","type":"function","z":"ababdc24.0bd49","name":"Init colortemp","func":"var colortemp = 400;\n\nif ( typeof msg.data.attributes.color_temp !== 'undefined' )\n{\n    colortemp = msg.data.attributes.color_temp;\n}\n\nflow.set(msg.Q.trigger+\"_colortemp\", colortemp);\n\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":640,"wires":[["46eafc01.247374"]]},{"id":"46eafc01.247374","type":"change","z":"ababdc24.0bd49","name":"ColorTemp +50","rules":[{"t":"set","p":"Q.changeColortemp","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":640,"wires":[["8268958d.2e2c78","6ddd3bd0.3445c4"]]},{"id":"8268958d.2e2c78","type":"delay","z":"ababdc24.0bd49","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2700,"y":640,"wires":[["1aa087bd.2a7818"]]},{"id":"1aa087bd.2a7818","type":"function","z":"ababdc24.0bd49","name":"Still Holding Dimmer++?","func":"var current_holding = flow.get(msg.Q.trigger+\"_holding\");\n\nif(current_holding === true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2910,"y":640,"wires":[["46eafc01.247374"]]},{"id":"54b65229.7e70cc","type":"function","z":"ababdc24.0bd49","name":"Init colortemp","func":"var colortemp = 400;\n\nif ( typeof msg.data.attributes.color_temp !== 'undefined' )\n{\n    colortemp = msg.data.attributes.color_temp;\n}\n\nflow.set(msg.Q.trigger+\"_colortemp\", colortemp);\n\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":740,"wires":[["5dc338ee.546d08"]]},{"id":"5dc338ee.546d08","type":"change","z":"ababdc24.0bd49","name":"ColorTemp -50","rules":[{"t":"set","p":"Q.changeColortemp","pt":"msg","to":"-50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":740,"wires":[["7fccd8ed.f3a028","6ddd3bd0.3445c4"]]},{"id":"7fccd8ed.f3a028","type":"delay","z":"ababdc24.0bd49","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2700,"y":740,"wires":[["6a24c290.ec424c"]]},{"id":"6a24c290.ec424c","type":"function","z":"ababdc24.0bd49","name":"Still Holding Dimmer++?","func":"var current_holding = flow.get(msg.Q.trigger+\"_holding\");\n\nif(current_holding === true){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":2910,"y":740,"wires":[["5dc338ee.546d08"]]},{"id":"18b3b0c1.d4bdbf","type":"switch","z":"ababdc24.0bd49","name":"Supports RGB?","property":"Q.SUPPORT_RGB_COLOR","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":2100,"y":760,"wires":[["54b65229.7e70cc"],["1c6d2278.6f513e"]]},{"id":"61bcf529.a85fec","type":"switch","z":"ababdc24.0bd49","name":"Supports RGB?","property":"Q.SUPPORT_RGB_COLOR","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":2300,"y":540,"wires":[["c882f807.f05988"],["f253012a.65c9"]]},{"id":"437c1247.b1c84c","type":"function","z":"ababdc24.0bd49","name":"Cycle rainbow rgb","func":"var i = flow.get(\"i\");\nvar red   = Math.round(Math.sin(0.3*i + 0) * 127 + 128);\nvar green = Math.round(Math.sin(0.3*i + 2) * 127 + 128);\nvar blue  = Math.round(Math.sin(0.3*i + 4) * 127 + 128);\n\ni++;\nif (i>=32) {\n    i = 0;\n}\n\nflow.set(\"i\", i);\n\nmsg.Q.new_rgb_color = [red, green, blue]\n\n// Only continue loop if still holding the button.\nvar current_holding = flow.get(msg.Q.trigger+\"_holding\");\nif(current_holding === true){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2470,"y":800,"wires":[["35592f8.d58a8d","35725de9.9bfbc2"]]},{"id":"1c6d2278.6f513e","type":"function","z":"ababdc24.0bd49","name":"set var","func":"flow.set(\"i\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":2270,"y":800,"wires":[["437c1247.b1c84c"]]},{"id":"35592f8.d58a8d","type":"delay","z":"ababdc24.0bd49","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2440,"y":880,"wires":[["437c1247.b1c84c"]]},{"id":"35725de9.9bfbc2","type":"function","z":"ababdc24.0bd49","name":"Change RGB","func":"var R = msg.Q.new_rgb_color[0]; //Initialize as full brightness\nvar G = msg.Q.new_rgb_color[1]; //Initialize as full brightness\nvar B = msg.Q.new_rgb_color[2]; //Initialize as full brightness\n\nmsg.payload = {\n    service:\"turn_on\",\n    \"entity_id\":msg.Q.grpname,\n    data: {\n        \"rgb_color\":[R, G, B]\n    }\n};\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2930,"y":800,"wires":[["8b7dab9f.daa938"]]},{"id":"f253012a.65c9","type":"function","z":"ababdc24.0bd49","name":"Cycle predefined rgb","func":"if (!msg.Q.SUPPORT_RGB_COLOR)\n{\n    return null;\n}\n\n//Initialize as White\nvar RGB = [255,255,255];\n\nif ( typeof msg.data.attributes.rgb_color !== 'undefined' )\n{\n    RGB = [msg.data.attributes.rgb_color[0], msg.data.attributes.rgb_color[1], msg.data.attributes.rgb_color[2]];\n    msg.Q.qqnew_rgb_color=RGB;\n}\n\n// If Red change Green\nif (RGB[0] > 240 && RGB[1] < 240 && RGB[2] < 240)\n{\n    msg.Q.new_rgb_color=[0,255,0];\n    return msg;\n}\n\n// If Green change Blue\nif (RGB[0] < 240 && RGB[1] > 240 && RGB[2] < 240)\n{\n    msg.Q.new_rgb_color=[0,0,255];\n    return msg;\n}\n\n// If Blue change White\nif (RGB[0] < 240 && RGB[1] < 240 && RGB[2] > 240)\n{\n    msg.Q.new_rgb_color=[255,255,255];\n    return msg;\n}\n\n// Else Change to Red\nmsg.Q.new_rgb_color=[255,0,0];\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2520,"y":560,"wires":[["35725de9.9bfbc2"]]},{"id":"37469638.1cec2a","type":"function","z":"ababdc24.0bd49","name":"Cycle predefined Color Temperature Up","func":"// Ikea Trådfri supports 454, 370, 250 \n\nif (!msg.Q.SUPPORT_COLOR_TEMP)\n{\n    return null;\n}\n\n//Initialize as White\nvar colortemp = 370; //Initialize as middle\n\n// Get ColorTemp from flow in case the current light's attribute is missing (bug in HA 97 or Deconz 65 with Tådfri)\nif ( typeof msg.data.attributes.color_temp !== 'undefined' )\n{\n    colortemp = msg.data.attributes.color_temp;\n    msg.Ea=\"1\";\n}\nelse\n{\n    var flowcolortemp = flow.get(msg.Q.trigger+\"_colortemp\");\n    msg.Eb=\"1\";\n    if ( typeof flowcolortemp === 'number')\n    {\n        colortemp = flowcolortemp;\n            msg.Ec=flowcolortemp;\n\n    }\n}\n\nif (colortemp <= 260)\n{\n    msg.Q.new_colortemp=370;\n    flow.set(msg.Q.trigger+\"_colortemp\", 370);\n    return msg;\n}\n\nif (colortemp >= 260 && colortemp <= 440 )\n{\n    msg.Q.new_colortemp=454;\n    flow.set(msg.Q.trigger+\"_colortemp\", 454);\n    return msg;\n}\n\nmsg.Q.new_colortemp=250;\nflow.set(msg.Q.trigger+\"_colortemp\", 250);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2600,"y":440,"wires":[["68d20629.5730c8"]]},{"id":"68d20629.5730c8","type":"function","z":"ababdc24.0bd49","name":"Build the message","func":"msg.payload = {\n    service:\"turn_on\",\n    \"entity_id\":msg.Q.grpname,\n    data: {\n        \"color_temp\":msg.Q.new_colortemp\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2870,"y":440,"wires":[["8b7dab9f.daa938"]]},{"id":"c882f807.f05988","type":"function","z":"ababdc24.0bd49","name":"Cycle predefined Color Temperature Down","func":"// Ikea Trådfri supports 454, 370, 250 \n\nif (!msg.Q.SUPPORT_COLOR_TEMP)\n{\n    return null;\n}\n\n//Initialize as White\nvar colortemp = 370; //Initialize as middle\n\n// Get ColorTemp from flow in case the current light's attribute is missing (bug in HA 97 or Deconz 65 with Tådfri)\nif ( typeof msg.data.attributes.color_temp !== 'undefined' )\n{\n    colortemp = msg.data.attributes.color_temp;\n    msg.Ea=\"1\";\n}\nelse\n{\n    var flowcolortemp = flow.get(msg.Q.trigger+\"_colortemp\");\n    msg.Eb=\"1\";\n    if ( typeof flowcolortemp === 'number')\n    {\n        colortemp = flowcolortemp;\n            msg.Ec=flowcolortemp;\n\n    }\n}\n\nif (colortemp <= 260)\n{\n    msg.Q.new_colortemp=454;\n    flow.set(msg.Q.trigger+\"_colortemp\", 454);\n    return msg;\n}\n\nif (colortemp >= 260 && colortemp <= 440 )\n{\n    msg.Q.new_colortemp=250;\n    flow.set(msg.Q.trigger+\"_colortemp\", 250);\n    return msg;\n}\n\nmsg.Q.new_colortemp=370;\nflow.set(msg.Q.trigger+\"_colortemp\", 370);\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":2590,"y":480,"wires":[["68d20629.5730c8"]]},{"id":"6e5137f5.b5e148","type":"server","z":"","name":"Home Assistant"}]
